

.vermelho{
width: 100%;
background-color: #961322;
height: 105px;


}

.imagemUsuario{

  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 90px;

}

.h4 {
  justify-content: end;
  display: flex;
  margin-right: 290px;

}

.skate{
  display: flex;
  padding: 25px;


}

.seta{
  display: flex;
  justify-content:start;
}
